
#butterbean-control-arch_bg_color label {
	display: inline-block;
	width: 100%;
	max-width: 45%;
	padding-top: 5px;
}

#butterbean-control-arch_bg_color .butterbean-palette-block {
	border-radius: 3px;
	overflow: hidden;
}

.butterbean-control-radio-image img {
	border-radius: 3px;
	opacity: 0.5;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.butterbean-control-radio-image label {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
	margin: 0 1em;
}

.butterbean-control-radio-image .screen-reader-text {
    width: auto;
    height: auto;
    position: static;
	padding-top: .25em;
	font-style: italic;
	color: #666666;
}

.butterbean-control-radio-image input:checked + span {
    color: #444;
}

.butterbean-control-radio-image input:checked + span + img {
	opacity: 1;
}

.wp-list-table tr.iedit:not(.level-0) > td,
.wp-list-table tr.iedit:not(.level-0) > td.column-title strong {
	/*font-size: 1em !important;
	margin: 0;*/
}

.wp-list-table tr.iedit:not(.level-0):not(:hover) {
	/*opacity: 0.7;
	transition: all .05s ease-in;
	font-size: 0.75rem;*/
}

/*.wp-list-table tr.iedit:not(.level-0):hover {
opacity: 1;
}*/
.wp-list-table tr.iedit:not(.level-0) .wp-post-image {
	/*max-width: 4em;*/
}

.wp-list-table tr.iedit:not(.level-0):not(:hover) > td {
	/*margin: 0;
	padding: 0;
	max-height: 15px;
	overflow: hidden;*/
}

.wp-list-table tr.iedit:not(.level-0) > td,
.wp-list-table tr.iedit:not(.level-0) > .check-column {
	/*margin: 0 !important;
	padding: 0 !important;
	transition: inherit;*/
}

/*.wp-list-table tr.iedit.level-1 {
font-size: 0.7rem;
}*/
.wp-list-table .level-0 .row-title {
	/*border-bottom: 2px solid currentColor;*/
}
