.site-main, .o-grid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.content > .archive-header {
    width: 100%;
}

.o-cell {
	//width: calc(310px - 1.5rem);
	margin: 0 0.75rem 0.75rem;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

html .u-1of1 {
	width: 100%;
}

html .u-1of2 {
	width: calc(50% - 1.5rem);
}

html .u-1of3 {
	width: calc(33.33% - 1.5rem);
}

html .u-2of3 {
	width: calc(66.66% - 1.5rem);
}

html .u-1of4 {
	width: calc(25% - 1.5rem);
}

html .u-3of4 {
	width: calc(75% - 1.5rem);
}

html .u-1of5 {
	width: calc(20% - 1.5rem);
}

html .u-2of5 {
	width: calc(40% - 1.5rem);
}

html .u-3of5 {
	width: calc(60% - 1.5rem);
}

html .u-4of5 {
	width: calc(80% - 1.5rem);
}

@media screen and (min-width: 48em) {
	html .u-1of1-md {
		width: 100%;
	}
	html .u-1of2-md {
		width: calc(50% - 1.5rem);
	}
	html .u-1of2-md:last-of-type {
		max-width: calc(50% - 1.5rem);
	}
	html .u-1of3-md {
		width: calc(33.33% - 1.5rem);
	}
	html .u-1of3-md:last-of-type, html .u-1of3-md:nth-last-child(2) {
		max-width: calc(33.33% - 1.5rem);
	}
	html .u-2of3-md {
		width: calc(66.66% - 1.5rem);
	}
	html .u-1of4-md {
		width: calc(25% - 1.5rem);
	}
	html .u-1of4-md:last-of-type, html .u-1of4-md:nth-last-child(2), html .u-1of4-md:nth-last-child(3) {
		max-width: calc(25% - 1.5rem);
	}
	html .u-3of4-md {
		width: calc(75% - 1.5rem);
	}
	html .u-1of5-md {
		width: calc(20% - 1.5rem);
	}
	html .u-2of5-md {
		width: calc(40% - 1.5rem);
	}
	html .u-3of5-md {
		width: calc(60% - 1.5rem);
	}
	html .u-4of5-md {
		width: calc(80% - 1.5rem);
	}
	html .u-width-auto-md {
		width: auto;
	}
}


/*  Toggles */

.collapse-toggle {
	display: none;
	visibility: hidden;
}

.collapse-toggle.active {
	font-weight: bold;
}

.chevron-toggle {
	max-width: 1em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-property: transform;
	transition-property: transform;
}

.collapse-toggle.active > .chevron-toggle {
	transform: rotate(180deg);
}

.js-houdini .collapse-toggle {
	display: inline-block;
	opacity: 1;
	display: flex;
	visibility: visible;
}

.js-houdini .collapse {
	max-height: 0;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	opacity: .3;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.js-houdini .collapse.active {
	max-height: 9999em;
	opacity: 1;
}


/*  TABS */

.js-tabby .tabs-pane {
	display: none;
	visibility: hidden;
}

.tabs-pane.active {
	display: block;
	visibility: visible;
}

.tabs-tab {
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.tabs-tab:not(.active) {
	box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.04);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}

.tabs-tab:hover:not(.active) {
	box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.01);
}

.tabs-tab.active {
	border-bottom-color: transparent;
	cursor: default;
}
