.site-main, .o-grid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.content > .archive-header {
	width: 100%;
}

.o-cell {
	//width: calc(310px - 1.5rem);
	display: inline-block;
	margin: 0 0.75rem 0.75rem;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

html .u-1of1 {
	width: 100%;
}

html .u-1of2 {
	width: calc(50% - 1.5rem);
}

html .u-1of3 {
	width: calc(33.33% - 1.5rem);
}

html .u-2of3 {
	width: calc(66.66% - 1.5rem);
}

html .u-1of4 {
	width: calc(25% - 1.5rem);
}

html .u-3of4 {
	width: calc(75% - 1.5rem);
}

html .u-1of5 {
	width: calc(20% - 1.5rem);
}

html .u-2of5 {
	width: calc(40% - 1.5rem);
}

html .u-3of5 {
	width: calc(60% - 1.5rem);
}

html .u-4of5 {
	width: calc(80% - 1.5rem);
}

@media screen and (min-width: 48em) {
	html .u-1of1-md {
		width: 100%;
	}
	html .u-1of2-md {
		width: calc(50% - 1.5rem);
	}
	html .u-1of2-md:last-of-type {
		max-width: calc(50% - 1.5rem);
	}
	html .u-1of3-md {
		width: calc(33.33% - 1.5rem);
	}
	html .u-1of3-md:last-of-type, html .u-1of3-md:nth-last-child(2) {
		max-width: calc(33.33% - 1.5rem);
	}
	html .u-2of3-md {
		width: calc(66.66% - 1.5rem);
	}
	html .u-1of4-md {
		width: calc(25% - 1.5rem);
	}
	html .u-1of4-md:last-of-type, html .u-1of4-md:nth-last-child(2), html .u-1of4-md:nth-last-child(3) {
		max-width: calc(25% - 1.5rem);
	}
	html .u-3of4-md {
		width: calc(75% - 1.5rem);
	}
	html .u-1of5-md {
		width: calc(20% - 1.5rem);
	}
	html .u-2of5-md {
		width: calc(40% - 1.5rem);
	}
	html .u-3of5-md {
		width: calc(60% - 1.5rem);
	}
	html .u-4of5-md {
		width: calc(80% - 1.5rem);
	}
	html .u-width-auto-md {
		width: auto;
	}
}


/*  Toggles */

.collapse-toggle {
	display: none;
	visibility: hidden;
}

.js-houdini .collapse-toggle {
	display: inline-block;
	text-decoration: none;
	display: flex;
	opacity: 1;
	visibility: visible;
}

.chevron-toggle {
	max-width: 1em;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.collapse-toggle.active > .chevron-toggle {
	transform: rotate(180deg);
}

.js-houdini .collapse.active {
	max-height: 999px;
	opacity: 1;
}

.js-houdini .collapse {
	max-height: 0;
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0.02) 100%);
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	opacity: .5;
	-webkit-transition: max-height, opacity .3s;
	transition: max-height, opacity .3s;
}

.js-houdini .collapse-wrap {
	display: none;
}

.js-houdini .active > .collapse-wrap {
	display: block;
}


/*  TABS */

.js-tabby .tabs-pane {
	display: none;
	visibility: hidden;
}

.tabs-pane.active {
	display: block;
	visibility: visible;
}

.tabs-tab {
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	position: relative;
	display: inline-block;
	opacity: .9!important;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-tab:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: -2px;
	background: currentColor;
	opacity: .2;
	height: 3px;
	-webkit-transition: left, right 0.3s;
	transition: left, right 0.3s;
}

.tabs-tab:not(.active) {
	box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.01);
}

.tabs-tab.active {
	border-bottom-color: transparent;
	cursor: default;
}

/*.tabs-tab:hover:not(.active):before {
	opacity: .2;
}*/
.tabs-tab:hover:before, .tabs-tab.active:before {
	left: 0;
	right: 0;
}

.tabs-tab.active:before {
	opacity: .7;
}




.gallery-cell {
  width: 100%;
  height: auto;
  //margin-right: 1rem;
}

.cta-content {
    //top: 10%;
    max-width: 80%;
    /*left: 10%;
    //margin-left: -40%;*/*/
}
/*.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}*/
