/*  Toggles */

.toggle-btn {
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-left: 4px solid;
	border-radius: 0;
	transition: border-color 0.18s cubic-bezier(0,0,0.2,1);
}

.toggle-btn[aria-expanded="false"] {
	border-left-color: transparent;
}

.toggle-btn > span {
	transform: scale(1);
	transform-origin: left;
	transition: transform 0.18s cubic-bezier(0,0,0.2,1);
	backface-visibility: hidden;
}

.toggle-btn[aria-expanded="true"] > span {
	transform: scale(1.2) translateX(1em);
	transform-origin: left;
	transition: transform 0.18s cubic-bezier(0,0,0.2,1);
}

.toggle-content {
	max-height: 800px;
    opacity: 1;
    overflow-y: auto;
    padding: 0 5px;
	margin: 0 -5px;
    position: relative;
	box-shadow: inset 0 1px 6px -2px #333;
    transition: opacity 0.3s ease-in,max-height 0.3s cubic-bezier(0.4,0,0.2,1);
	backface-visibility: hidden;
}

[data-a11y-toggle]:not([aria-controls]),
.toggle-content[aria-hidden='true'] {
	max-height: 0;
	overflow-y: hidden;
    opacity: 0;
    transition: opacity 0.18s cubic-bezier(0,0,0.2,1),max-height 0.18s cubic-bezier(0,0,0.2,1);
}

.chevron-toggle {
	width: 1em;
	height: 1em;
	transition: transform 0.3s;
}

.toggle-btn[aria-expanded="true"] > .chevron-toggle {
	transform: rotate(180deg);
}
