
@import "slides";
@import "grid";
@import "tabs";
@import "accordion";
@import "utils";

.row-wide > * {
	margin: 0;
}

.u-bg-transparent > .entry-summary {
	padding: 0.5rem;
}

.o-flag {
	display: inline-flex;
}
