
@import "flag";
@import "slides";
@import "grid";
@import "tabs";
@import "accordion";
@import "utils";
@import "defaults";

.row-wide > * {
	margin: 0;
}

.u-bg-transparent > .entry-summary {
	padding: 0.5rem;
}

.entry-title .arch-icon {
	margin-left: auto;
}
